<% layout("/layouts/boilerplate")%>
<body>
  <div class="row">
    <div class="col-8 offset-3">
      <h2 class="mt-3"><%=listing.name%></h2>
      </div>
      <div class="card col-6 offset-3 show-card listing-card" >
        <img src="<%=listing.image%>" class="card-img-top show-img" alt="listing_image" >
        <div class="card-body">
          <p class="card-text" >
            <br/>
            <p>Owned By : <i><%=listing.owner.username%></i></p>
            <p><%=listing.description%></p>
            <p>&#8377;<%=listing.price.toLocaleString("en-IN")%></p>
            <p><%=listing.category%></p>
            <p><%=listing.subCategory%></p>
            <p><%=listing.date%></p>
            <p><%=listing.sizes%></p>
          </p>
        </div>
      </div>
    </div>
    <% if(currUser && listing.owner._id.equals(currUser._id)){%>
<div class="show-btns">
  <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark col-1 offset-3 edit-btn all-btn">Edit</a><br/><br/>
  <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
    <button class="btn btn-dark delete-btn offset-5">Delete</button>
  </form>
</div>
<%}%>

<!-- This for Review form -->
<div class="col-8 offset-3">
  <hr/>
  <%if(currUser){%>
  <h4>Leave a Review</h4>
  <form method="POST" action="/listings/<%=listing._id%>/reviews" novalidate class="needs-validation">
    <div class="mb-3 mt-3">
      <label for="rating" class="form-label">Rating</label>
      <input type="range"  class="form-range" min="1" max="5" id="rating" name="review[rating]" />
    </div>

    <div class="mb-3 mt-3">
      <label for="comment" class="form-label">Comments</label>
      <textarea name="review[comment]" cols="30" rows="5" class="form-control" required></textarea>
      <div class="invalid-feedback"> Please Add Some Comments For Review</div>
    </div>

    <button class="mb-3 btn btn-dark all-btn">Submit</button>
  </form>

  <hr/>
  <%}%>
  <p><b>Reviews</b></p>

  <div class="row">
      <% for(review of listing.reviews){%>
        <div class="card col-5 mb-3 ms-3">
          <div class="card-body">
            <h5 class="card-title mt-2">@<%=review.author.username%></h5>
            <p class="card-text"><%=review.comment%></p>
            <p class="card-text"><%=review.rating%> stars</p>
          </div>
          <% if(currUser && review.author._id.equals(currUser._id)){%>
          <form class="mb-3" method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE" >
            <button class="btn btn-sm btn-dark mt-3 mb-3 all-btn">Delete</button>
          </form>
          <%}%>
        </div>
      <%}%>
    </div>
</div>
    
    
</body>
</html>