<% layout("/layouts/boilerplate")%>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-5">
    <%for(let listing of allListings){%>
    <a href="/listings/<%=listing._id%>" class="listing-link">
    <div class="card listing-card col" >
      <!-- for image -->
      <% if (listing.images && listing.images.length > 0) { %>
                    
        <!-- Bootstrap Carousel for Multiple Images -->
        <div id="imageCarousel-<%= listing._id %>" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <% listing.images.forEach((image, index) => { %>
                    <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                        <img src="<%= image.url %>" class="d-block card-img-top" alt="Listing Image" style="height: 20rem;">
                    </div>
                <% }); %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel-<%= listing._id %>" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel-<%= listing._id %>" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>

    <% } else { %>
        <p>No images available</p>
    <% } %>
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%=listing.name%></b><br/>
            &#8377;<%=listing.price.toLocaleString("en-IN")%>
          </p>
        </div>
      </div>
    </a>
      <%}%>
</div>



